#include "ls2k1000.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "loongson-2k1000";

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "earlycon";
	};

	sysinfo-smbios {
		compatible = "u-boot,sysinfo-smbios";
		u-boot,dm-pre-reloc;

		smbios {
			system {
				manufacturer = "Loongson";
				product = "LS2K1000";
			};

			baseboard {
				manufacturer = "Loongson";
				product = "LS2K1000-DP";
			};

			chassis {
				manufacturer = "Loongson";
				product = "LS2K1000-DP";
			};
		};
	};

	memory {
		name = "memory";
		device_type = "memory";
		reg =  <0x90000000 0x00000000 0 0x10000000
			0x90000000 0x90000000 0 0x30000000>;
		u-boot,dm-pre-reloc;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		bootparam: bootparam_region {
			reg = <0x90000000 0x0f000000 0x0 0x1000000>;
			no-map;
		};
	};

	mc0: ram@0 {
		compatible = "loongson,ls2k1000-ddr";
		u-boot,dm-pre-reloc;

		soc-config-reg = <0x1fe00424>;
		mc-disable-offs = <8>;
		mc-default-offs = <9>;

		sdram-type = "ddr3";	// ddr2/ddr3
		dimm-type = "udimm";	// rdimm/udimm/sodimm

		cs-map = <0x1>;		// bit map: 	bit0 -- cs0
					// 		bit1 -- cs1
					//		bit2 -- cs2
					//		bit3 -- cs3

		data-width = <32>;	// 16/32/64
		sdram-width = <16>;	// 8/16
		sdram-banks = <8>;	// 2/4/8
		sdram-rows = <15>;
		sdram-cols = <10>;

		clk-latency = <0x30>;
		rd-latency = <0x9>;
		wr-latency = <0x4>;
		cmd-timing-mode = <1>;	// 0: 1T mode; 1(default): 2T mode; 2: 3T mode.

		// To enable the feature below, uncomment it.
		/* ecc-enable; */
		/* addr-mirror; */
		/* multi-channel; */
		reset-revert;
	};

	panel_rgb: panel-rgb {
		compatible = "simple-panel";
		backlight = <&panel_bkl>;

		display-timings {
#if 1	// 7' LCD
			native-mode = <&atk_md0700r>;
			atk_md0700r: 1024x600 {
				clock-frequency = <51200000>;
				hactive = <1024>;
				vactive = <600>;
				hsync-len = <20>;
				hfront-porch = <160>;
				hback-porch = <140>;
				vfront-porch = <12>;
				vback-porch = <20>;
				vsync-len = <3>;
				de-active = <1>;
				hsync-active = <0>;
				vsync-active = <0>;
				pixelclk-active = <0>;
			};
#else	// 10' LCD
			native-mode = <&atk_md1010r>;
			atk_md1010r: 1280x800 {
				clock-frequency = <71100000>;
				hactive = <1280>;
				vactive = <800>;
				hsync-len = <10>;
				hfront-porch = <70>;
				hback-porch = <80>;
				vfront-porch = <10>;
				vback-porch = <10>;
				vsync-len = <3>;
				de-active = <1>;
				hsync-active = <0>;
				vsync-active = <0>;
				pixelclk-active = <0>;
			};
#endif
		};
	};

	panel_bkl: backlight {
		compatible = "gpio-backlight";
		pinctrl-0 = <&pinmux_hda_gpio>,
				<&pinmux_i2s_gpio>;
		pinctrl-names = "default";
		gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
		// default-on;
	};
};

&ls2k1000la_soc {
	pcie1_enable = <1>;
};

&spi0 {
	status = "okay";

	spi-flash@0 {
		compatible = "jedec,spi-nor";
		spi-max-frequency = <25000000>; /* input clock */
		reg = <0>; /* CS0 */
	};
};

&gmac0 {
	status = "okay";
};

&gmac1 {
	status = "okay";
};

&dvo1 {
	status = "okay";
	connector-type = "panel";	// panel, vga, hdmi
	connector = <&panel_rgb>;
	pix-fmt = "rgb888";
};

&otg {
	status = "okay";
};

&gpio {
	pinctrl-0 = <&pinmux_sdio_gpio>;
	pinctrl-names = "default";
};

&ehci {
	pinctrl-0 = <&pinmux_nand_gpio>;
	pinctrl-names = "default";
	gpios = <&gpio1 24 GPIO_ACTIVE_HIGH>;
};
