#include "ls2k500.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/power-domain/ls2k500-power-domain.h>

/ {
	model = "loongson-2k500";

	chosen {
		stdout-path = "serial2:115200n8";
		bootargs = "earlycon";
	};

	sysinfo-smbios {
		compatible = "u-boot,sysinfo-smbios";
		u-boot,dm-pre-reloc;

		smbios {
			system {
				manufacturer = "Loongson";
				product = "LS2K500";
			};

			baseboard {
				manufacturer = "Loongson";
				product = "LS2K500-MINI-DP";
			};

			chassis {
				manufacturer = "Loongson";
				product = "LS2K500-MINI-DP";
			};
		};
	};

	memory {
		name = "memory";
		device_type = "memory";
		reg = <0x90000000 0x00000000 0 0x10000000
		       0x90000000 0x90000000 0 0x10000000>;
		u-boot,dm-pre-reloc;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		bootparam: bootparam_region {
			reg = <0x90000000 0x0f000000 0x0 0x1000000>;
			no-map;
		};
	};

	mc0: ram@0 {
		compatible = "loongson,ls2k500-ddr";
		u-boot,dm-pre-reloc;

		soc-config-reg = <0x1fe10100>;
		mc-disable-offs = <11>;
		mc-default-offs = <12>;

		sdram-type = "ddr3";	// ddr2/ddr3
		dimm-type = "udimm";	// rdimm/udimm/sodimm

		cs-map = <0x1>;		// bit map: 	bit0 -- cs0
					// 		bit1 -- cs1
					//		bit2 -- cs2
					//		bit3 -- cs3

		data-width = <16>;	// 16/32/64
		sdram-width = <16>;	// 8/16
		sdram-banks = <8>;	// 2/4/8
		sdram-rows = <15>;
		sdram-cols = <10>;

		clk-latency = <0x20>; // 300MHz 0x10 400MHz 0x20
		rd-latency = <0x7>; // 300MHz 0xc 400MHz 0x7
		wr-latency = <0x4>; // 300MHz 0x3 400MHz 0x4
		cmd-timing-mode = <1>;	// 0: 1T mode; 1(default): 2T mode; 2: 3T mode.

		// To enable the feature below, uncomment it.
		/* ecc-enable; */
		/* addr-mirror; */
		/* multi-channel; */
		/* reset-revert; */
	};

	leds {
		compatible = "gpio-leds";

		LED2 {
			label = "LED2";
			gpios = <&gpio3 18 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};

	panel_rgb: panel-rgb {
		compatible = "simple-panel";
		backlight = <&panel_bkl>;

		display-timings {
#if 1	// 4.3' LCD
			native-mode = <&atk_md0430r>;

			atk_md0430r: 800x480 {
				clock-frequency = <27000000>;
				hactive = <800>;
				vactive = <480>;
				hsync-len = <40>;
				hfront-porch = <48>;
				hback-porch = <40>;
				vfront-porch = <13>;
				vback-porch = <32>;
				vsync-len = <0>;
				de-active = <1>;
				hsync-active = <0>;
				vsync-active = <0>;
				pixelclk-active = <0>;
			};
#else	// 7' LCD
			native-mode = <&atk_md0700r>;

			atk_md0700r: 1024x600 {
				clock-frequency = <51200000>;
				hactive = <1024>;
				vactive = <600>;
				hsync-len = <20>;
				hfront-porch = <160>;
				hback-porch = <140>;
				vfront-porch = <12>;
				vback-porch = <20>;
				vsync-len = <3>;
				de-active = <1>;
				hsync-active = <0>;
				vsync-active = <0>;
				pixelclk-active = <0>;
			};
#endif
		};
	};

	panel_bkl: backlight {
		compatible = "gpio-backlight";
		gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
		// default-on;
	};
};

&spi0 {
	status = "okay";

	spi-flash@0 {
		compatible = "jedec,spi-nor";
		spi-max-frequency = <25000000>; /* input clock */
		reg = <0>; /* CS0 */
	};
};

&nand {
	status = "okay";
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii-txid";
	// max-speed = <100>;
};

&dvo0 {
	status = "okay";
	connector-type = "panel";	// panel, vga, hdmi
	connector = <&panel_rgb>;
	pix-fmt = "rgb565";
};

&dpm {
	domain_pci {
		offset = <LS2K500_DPM_PCI>;
		mask = <0x30>;
		value = <LS2K500_DPM_TGT_CLKOFF>;
		dpm_en = <0x1>;
	};
	domain_pcie {
		offset = <LS2K500_DPM_PCIE>;
		mask = <0xc0>;
		value = <LS2K500_DPM_TGT_CLKOFF>;
		dpm_en = <0x1>;
	};
	domain_gpu {
		offset = <LS2K500_DPM_GPU>;
		mask = <0x300>;
		value = <LS2K500_DPM_TGT_POWEROFF>;
		dpm_en = <0x1>;
	};
	domain_gmac1 {
		offset = <LS2K500_DPM_GMAC1>;
		mask = <0xc000>;
		value = <LS2K500_DPM_TGT_CLKOFF>;
		dpm_en = <0x1>;
	};
	domain_sata {
		offset = <LS2K500_DPM_SATA>;
		mask = <0x30000>;
		value = <LS2K500_DPM_TGT_POWEROFF>;
		dpm_en = <0x1>;
	};
	domain_usb3 {
		offset = <LS2K500_DPM_USB3>;
		mask = <0x300000>;
		value = <LS2K500_DPM_TGT_POWEROFF>;
		dpm_en = <0x1>;
	};
	domain_hda {
		offset = <LS2K500_DPM_HDA>;
		mask = <0xc00000>;
		value = <LS2K500_DPM_TGT_CLKOFF>;
		dpm_en = <0x1>;
	};
	domain_print {
		offset = <LS2K500_DPM_PRINT>;
		mask = <0x3000000>;
		value = <LS2K500_DPM_TGT_CLKOFF>;
		dpm_en = <0x1>;
	};
};
